body {
    margin: 0;
    padding: 0;
    width:  100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #32535f;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas {
    background-color: #a2b14c;
}

.bar {
    height: 5px;
    width: 638px;
}

.progress {
    height: 5px;
    width: 0%;
    background-color: white;
}

#bar-right {
    width: 5px;
    height: 628px;
}

#bar-left {
    width: 5px;
    height: 628px;
}

#progress-right {
    width: 5px;
    height: 0%;
}

#progress-left {
    width: 5px;
    height: 0%;
    position: relative;
}

#progress-bottom{
    position: relative;
}

#container-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-hor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#title {

    font-size: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#author {
    font-size: 25px;
    width: 100%;
    margin: 0px 0 0 10px ;
    padding: 0;
    position: relative;
    bottom: 0;
    color: #6994aa;
}

a {
    text-decoration: none;
    color: #82a7c0;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0;
    display: inline;
}

h1 {
    margin: 0;
    padding: 0;
    display: inline;
} 
p {
    font-size: 30px;
    margin: 0;
    padding: 0 0 10px;
    display: inline;
}

@media only screen and (max-width: 800px) {
    body {
        width: 800px;
        height: 1760px;
    }

    #main-container {
        height: 900px;
        padding-top: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    
}